<div class = "wrapper-center post-show-wrapper">
  <div class = "container" >
    <div class = "row">
       <div class = "col-md-offset-2 col-md-8">
        <h1 class = "form-title text-blue">トラブル内容を作成</h1>
          <%= form_for @post do |f|%>
          <div class = "form-group">
          <%= f.label :title, "トラブルの要約", class: "text-black" %>
          <%= f.text_field :title, value: @post.title, class: "form-control" %>
          </div>
          <div class = "form-group">
          <%= f.label :content, "トラブルの詳細", class: "text-black" %>
          <%= f.text_area :content, value: @post.content, class: "form-control"%>
          </div>
          <p class = "image-control">
          <% if @post.image? %>
           <%= image_tag @post.image.url %>
          <% end %>
          </p>
          <div class = "form-group">
           <%= f.submit "更新する" %>
         </div> 
          
         <% end %>  

         
       </div>
    </div>
  </div>
</div>